In [5]:
import pandas as pd
data={
    "ad":["ali","veli","ayşe","fatma"],
    "yas":[25,30,22,35],
    "şehir":["ankara","istanbul","izmir","bursa"]
}
df=pd.DataFrame(data)
df

      ad  yas     şehir
0    ali   25    ankara
1   veli   30  istanbul
2   ayşe   22     izmir
3  fatma   35     bursa

In [9]:
#df=pd.read_csv("")
#print(df.head())

In [ ]:
import pandas as pd
df=pd.read_excel("")
print(df.head())

In [13]:
import pandas as pd
data={
    "ad":["ali","veli","ayşe","fatma"],
    "yas":[25,30,22,35],
    "şehir":["ankara","istanbul","izmir","bursa"]
}
df=pd.DataFrame(data)
print(df[["ad","şehir"]])

      ad     şehir
0    ali    ankara
1   veli  istanbul
2   ayşe     izmir
3  fatma     bursa

In [19]:
import pandas as pd
data={
    "ad":["ali","veli","ayşe","fatma"],
    "yas":[25,30,22,35],
    "şehir":["ankara","istanbul","izmir","bursa"]
}
df=pd.DataFrame(data)
print(df.iloc[0])
print("*****")
print(df.iloc[0:3])

ad          ali
yas          25
şehir    ankara
Name: 0, dtype: object
*****
     ad  yas     şehir
0   ali   25    ankara
1  veli   30  istanbul
2  ayşe   22     izmir

In [21]:
yass=df[df["yas"]>25]
print(yass)
print("*****")

      ad  yas     şehir
1   veli   30  istanbul
3  fatma   35     bursa
*****

In [25]:
y=df[df["şehir"]=="ankara"]
print(y)
print("*****")

    ad  yas   şehir
0  ali   25  ankara
*****