In [146]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [147]:
import warnings
warnings.filterwarnings('ignore')

In [148]:
#data="C:\\Users\\LENOVO\\OneDrive\\Documentos\\makineogrenmesi\\car_evaluation.xlsx""C:\Users\LENOVO\OneDrive\Documentos\makineogrenmesi\car_evaluation.csv"
df=pd.read_csv("C:\\Users\\LENOVO\\OneDrive\\Documentos\\makineogrenmesi\\car_evaluation.csv")

In [149]:
df.shape

(1727, 7)

In [150]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [151]:
col_names=['buying','maint','doors','persons','lug_boot','safety','class']

In [152]:
df.columns=col_names
print(col_names)
df.head()

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

for col in col_names:
    print(df[col].value_counts())

In [154]:
X=df.drop(['class'],axis=1)
y=df['class']

In [155]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [156]:
X_train.shape,X_test.shape
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [157]:
X_train.dtypes
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [158]:
X_train.head()

     buying  maint  doors persons lug_boot safety
107   vhigh   high      2       2    small    low
900     med  vhigh      3       4    small    med
1708    low    low  5more       2      big   high
705    high    med      4       2      med    med
678    high    med      3       2      med    med

In [159]:
from sklearn.preprocessing import OrdinalEncoder

In [160]:
encoder=OrdinalEncoder()

In [161]:
X_train=pd.DataFrame(encoder.fit_transform(np.array(X_train)))
X_test=pd.DataFrame(encoder.fit_transform(X_test))

In [162]:
from sklearn.ensemble import RandomForestClassifier 
rfc = RandomForestClassifier(random_state=0) 
rfc.fit(X_train, y_train) 

y_pred = rfc.predict(X_test) 

from sklearn.metrics import accuracy_score 

print('Modelin 10 karar agaciyla dogruluk degeri: {:.4f}'.format(accuracy_score(y_test, y_pred)))

Modelin 10 karar agaciyla dogruluk degeri: 0.9595

In [163]:


rfc_100 = RandomForestClassifier(n_estimators=100, random_state=0) 
rfc_100.fit(X_train, y_train)
y_pred_100 = rfc_100.predict(X_test) 

print('Modelin 100 karar agaciyla dogruluk degeri: {:.4f}'.format(accuracy_score(y_test, y_pred)))

Modelin 100 karar agaciyla dogruluk degeri: 0.9595